<?xml version="1.0"?>

<model>
  <name>Hard Example</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dmitry Chichkov</name>
    <email>dmitry@hardexample.org</email>
  </author>

  <description>
    An illusion of a Rubik's Cube. See also: hardexample.org
  </description>

</model>
